<div class="mt-5">
    <h2 class="title is-2 mt-5">Authors</h2>
    <div class="content">
        <ul>
            <% @authors.each do |author| %>
                <li>
                    <%=link_to author.name, author %>
                    <em>(<%= pluralize author.books.count, "Books" %>)</em>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="columns is-centered mt-5">
    <div class="column is-half has-text-centered">
        <%=paginate(@authors) %>
    </div>
</div>