<div class="column mt-5">
    <%= render partial: 'authors/author', object: @authors, locals: { show_link: true } %>
  </div>

<div class="has-text-right"><%= link_to '...Go Back', root_path %></div>
</div>
