<div class="container">
  <div class="columns is-variable">
    <div class="column mt-5">
      <h2 class="title is-4 underline">New</h2>
      <%= render partial: 'book/book', locals: { show_link: true, books: @book_new } %>

      <h2 class="title is-4 underline">Sale</h2>
      <%= render partial: 'book/book', locals: { show_link: true, books: @book_on_sale } %>
    </div>
    <div class="column mt-5 is-three-quarters">
      <div class="column is-narrow">
      <h2 class="title is-4 underline">Top-Rated</h2>
      <%= render partial: 'book/book', locals: { show_link: true, books: @book_top_rated } %>
    </div>
      </div>
  </div>
</div>