  <div class="">
  </div><div class="columns is-variable pt-5">
    <div class="column mt-5">
      <h2 class="title is-4 underline">New</h2>
      <%= render partial: 'books/book', locals: { show_link: true, pagination: false, books: @book_new } %>

      <h2 class="title is-4 underline">Sale</h2>
      <%= render partial: 'books/book', locals: { show_link: true, pagination: false, books: @book_on_sale } %>
    </div>
    <div class="column mt-5 is-three-quarters">
      <div class="is-narrow">
      <h2 class="title is-4 underline">Top-Rated</h2>
      <%= render partial: 'books/book', locals: { show_link: true, pagination: true, books: @book_top_rated } %>
    </div>
      </div>

  </div>