<div class="mt-5">
    <h2 class="title is-2 mt-5">Thank you for your order!</h2>
    <div class="content">
      <h3 class="title is-4">Your order can be viewed in your order history.</h3>
        <p>Orders take 2-3 business days to process.</p>
    </div>
</div>