<div class="column mt-5">
   <h2 class="title is-2 mt-5"><%= @page.title %></h2>
   <p class="mb-5">
   </p>
   <div class="content">
      <%= @page.content %>
   </div>
</div>
<div class="has-text-right"><%= link_to '...Go Back', root_path %></div>
</div>