  <div class="">
  </div><div class="columns is-variable pt-5">
    <div class="column mt-5">
      <%= render partial: 'books/book', locals: { path: "/books", show_link: true, pagination: true, multicolumn: true, books: @books_sale } %>
    </div>
      </div>

  </div>