<footer class="has-background-black has-text-centered">
  <div class="mt-2 mb-3 is-size-6">
    <%= link_to 'About Us', "/pages/about_us" %> || <%= link_to 'Contact Us', "/pages/contact_us" %>
  </div>
  <div class="mb-2 is-size-7">
    <strong>Turn the Page eCommerce Platform</strong>
      by <a href="">Chantal Wiebe</a> || Made using <a href="">Ruby on Rails.</a>
  </div>
</footer>